
.line {
    width: auto;
    height: 0;
    border-bottom: 1px solid pink;
}

.header-conteiner {
}
.nav {
}
.header__nav {
}
.nav__menu {
}
.list {
}
.nav__item {
}
.nav__link {
}
.link {
}
.nav__link--current {
}
.logo {
    display: flex;
    flex-direction: column;
}
.logo__img {
}
.logo__text {
}
.nav__btn-order {
}